.container{
    background-color: rgb(212, 143, 14);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Wrapper{
    max-width:fit-content;
    flex-wrap:wrap;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.head{
    background-color: white;
    border: 1px solid #ddd;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 8px;
}
h1{
    font-family:monospace;
}
.entry{
    background-color: white;
    width: 490px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
}
.inputar{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 26px;
}
#inputt{
    border: 4px solid rgb(255, 109, 12);
    height: 38px;
    width: 14rem;
    border-radius: 12px;
}
#btn{
    background-color: rgb(255, 109, 12);
    width:70px;
    height: 2.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px;
    border-radius: 2px;
    color: white;
    border: none;
}
#btn:hover{
    cursor: pointer;
}
.chuna{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}
